 1 <?xml version="1.0" encoding="UTF-8"?>
 2 <!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
 3 <!--Configuration后面的status，这个用于设置log4j2自身内部的信息输出，可以不设置，当设置成trace时，你会看到log4j2内部各种详细输出-->
 4 <!--monitorInterval：Log4j能够自动检测修改配置 文件和重新配置本身，设置间隔秒数-->
 5 <configuration status="WARN" monitorInterval="30">
 6     <!--先定义所有的appender-->
 7     <appenders>
 8     <!--这个输出控制台的配置-->
 9         <console name="Console" target="SYSTEM_OUT">
10         <!--输出日志的格式-->
11             <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
12         </console>
13     <!--文件会打印出所有信息，这个log每次运行程序会自动清空，由append属性决定，这个也挺有用的，适合临时测试用-->
14     <File name="log" fileName="log/test.log" append="false">
15        <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
16     </File>
17     <!-- 这个会打印出所有的info及以下级别的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档-->
18         <RollingFile name="RollingFileInfo" fileName="${sys:user.home}/logs/info.log"
19                      filePattern="${sys:user.home}/logs/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log">
20             <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->        
21             <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
22             <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
23             <Policies>
24                 <TimeBasedTriggeringPolicy/>
25                 <SizeBasedTriggeringPolicy size="100 MB"/>
26             </Policies>
27         </RollingFile>
28         <RollingFile name="RollingFileWarn" fileName="${sys:user.home}/logs/warn.log"
29                      filePattern="${sys:user.home}/logs/$${date:yyyy-MM}/warn-%d{yyyy-MM-dd}-%i.log">
30             <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
31             <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
32             <Policies>
33                 <TimeBasedTriggeringPolicy/>
34                 <SizeBasedTriggeringPolicy size="100 MB"/>
35             </Policies>
36         <!-- DefaultRolloverStrategy属性如不设置，则默认为最多同一文件夹下7个文件，这里设置了20 -->
37             <DefaultRolloverStrategy max="20"/>
38         </RollingFile>
39         <RollingFile name="RollingFileError" fileName="${sys:user.home}/logs/error.log"
40                      filePattern="${sys:user.home}/logs/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log">
41             <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
42             <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
43             <Policies>
44                 <TimeBasedTriggeringPolicy/>
45                 <SizeBasedTriggeringPolicy size="100 MB"/>
46             </Policies>
47         </RollingFile>
48     </appenders>
49     <!--然后定义logger，只有定义了logger并引入的appender，appender才会生效-->
50     <loggers>
51         <!--过滤掉spring和mybatis的一些无用的DEBUG信息-->
52         <logger name="org.springframework" level="INFO"></logger>
53         <logger name="org.mybatis" level="INFO"></logger>
54         <root level="all">
55             <appender-ref ref="Console"/>
56             <appender-ref ref="RollingFileInfo"/>
57             <appender-ref ref="RollingFileWarn"/>
58             <appender-ref ref="RollingFileError"/>
59         </root>
60     </loggers>
61 </configuration>